# This config is equivalent to both the '.circleci/extended/orb-free.yml' and the base '.circleci/config.yml'
version: 2.1

orbs:
  node: circleci/node@4.1

jobs:
  deploy:
    docker:
      - image: cimg/node:16.6.0
    steps: 
      - checkout
      - node/install-packages
      - run:
          name: "Setup custom env variables"
          command: echo 'export NETLIFY_SITE_ID = $netlify_site_id' >> $BASH_ENV
      - run: npm run generate
      - run: ./node_modules/netlify-cli/bin/run login
      - run: ./node_modules/netlify-cli/bin/run link --id $NETLIFY_SITE_ID	
      #- run: ./node_modules/netlify-cli/bin/run deploy --prod

workflows:
  sample:
    jobs:
      - deploy